<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Importando Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/cadastroa.css">

    <title>Cadastro A</title>
</head>

<body>
    <form action="/cadastro" method="post">
    
    <h2>Cadastro</h2>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br><br>
        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone"><br><br>
        <label for="senha">Password:</label>
        <input type="password" id="senha" name="senha"><br><br>
        <button id="bt_cadastrar" onclick="envia_cadastro()">Cadastrar</button>
    <p>Já tem uma conta? <a href="/login">Faça login aqui</a>.</p>
    </form>
</body>

<script type="text/javascript">
    function envia_cadastro(){
        var dados = {
            nome: $("#nome").val(),
            telefone: $("#telefone").val(),
            senha: $("#senha").val(),
        }

        $.ajax({
            url: "/cadastrar_via_ajax",
            type: "POST",
            data:  JSON.stringify(dados),
            contentType: "application/json",
            success: function(){
                $("#resposta").append("CADASTRO REALIZADO COM SUCESSO!")
            },
            error: function(){
                $("#resposta").append("ERRO AO CADASTRAR!")
            }
        })
    }
</script>

</html>