<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- IMPORTANTO JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <title>Chat</title>
    <link rel="stylesheet" href="/static/chat.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div id="top-bar">
        <h1>✾ Crabiz ✾</h1>
    </div>

    <div id="chat-container">
        <p>Bem-vindo ao Crabiz</p>
    </div>

    <div id="input-container">
        <select name="usuario" id="usuario" onChange="mostraMensagens()">
            <option value="telefone">Nome</option>
        </select>
        <div style="width: 10px;"></div>
        <input type="text" id="mensagem" placeholder="Digite aqui sua mensagem..." required>
        <button id="botao" onclick="enviarMensagem()">Enviar</button>
    </div>

    <script type="text/javascript">

        /* FUNÇÃO QUE SOLICITA OS USUÁRIOS CADASTRADOS E INCLUI NO CAMPO SELECT */
        function solicita_usuarios(){

            /* Montando a solicitação AJAX requisitando os contatos */
            $.ajax({
                url: "/retorna_usuarios",
                type: "GET",
                success: function(usuarios){
                    for(let i =0; i < usuarios.length; i++){
                        let texto_html = '<option value="'+usuarios[i]['telefone']+'">'+usuarios[i]['nome']+'</option>'
                        $('#usuario').append(texto_html)
                    }
                },
                error: function(){
                    alert("Erro ao recuperar os contatos!")
                }
            })
        }

        /* EXECUTA A FUNÇÃO DE solicita_usuarios ASSIM QUE A PÁGINA É ABERTA */
        $(document).ready(solicita_usuarios())

    </script>

    <script type="text/javascript">
        function mostraMensagens(){
            $.ajax({
                url: "/get/mensagens/" + $("usuario").val(),
                type:"GET",
                success: function (mensagens){
                    // Limpa a div que armazena as mensagens
                    $("#chat-container").empty()
                    for(let i=0;i<mensagens.length;i++){
                        tag = "<p>" + mensagens[i]["mensagem"] + "</p>"
                        // Insere a mensagem na div
                        $("#chat-container").append(tag)
                    }
                    
                }
            })
        }

        setInterval(mostraMensagens, 5000);

        $(document).ready(solicita_usuarios())
    </script>
  
  <script type="text/javascript">
    // Função para enviar a mensagem
    function enviarMensagem() {
        // Coletar os dados do destinatário e mensagem
        var dados = {
            destinatario: $("#usuario").val(), // Coleta o valor do campo de destinatário
            mensagem: $("#mensagem").val() // Coleta o valor do campo de mensagem
        };

        // Enviar os dados para a rota Flask via AJAX
        $.ajax({
            url: "/enviar_mensagem", // Endereço da rota Flask que irá processar a mensagem
            type: "POST", // Método de envio da requisição
            data: JSON.stringify(dados), // Converter os dados em JSON e enviar
            contentType: "application/json", // Tipo de conteúdo sendo enviado (JSON)
            success: function() { // Função executada em caso de sucesso
                // Ação de sucesso: exibir um alerta indicando que a mensagem foi enviada com sucesso
                alert("Mensagem enviada com sucesso");
            },
            error: function() { // Função executada em caso de erro
                // Ação de erro: exibir um alerta indicando que ocorreu um erro ao enviar a mensagem
                alert("Erro ao enviar mensagem");
            }
        });
    }
</script>

</body>
</html>